<EditForm Model="Login" OnValidSubmit="ValidSubmitCallback">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="username">Benutzername</label>
        <InputText @bind-Value="Login.Username" class="form-control" id="username" />
        <ValidationMessage For="() => Login.Username" />
    </div>

    <div class="form-group">
        <label for="password">Passwort</label>
        <InputText @bind-Value="Login.Password" class="form-control" id="password" type="password" />
        <ValidationMessage For="() => Login.Password" />
    </div>

    <button class="btn btn-primary" type="submit">Anmelden</button>

</EditForm>

@code {
    [Parameter]
    public PasswordLoginDto Login { get; set; } = new();

    [Parameter]
    public EventCallback ValidSubmitCallback { get; set; }
}
